<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Home Page</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
   <div class="main container">
           <div class="jumbotron text-center">
                   <img src="../Images/HotRestaurant.png" alt="Hot Restaurant">
                   <h1 class="display-4">The Hottest Restaurant Around!</h1>
                   <hr class="my-4">
                   <p>We have a very limited number of tables, make your reservation now!</p>
                   <a class="btn btn-primary btn-lg" id="tables" href="/tables" role="button">View Tables</a>
                   <a class="btn btn-secondary btn-lg" id="reservation" href="/reserve" role="button">Make a Reservation</a>
                 </div>

       <div class="links">
           <a href="">API Table Link</a>
           <a href="">API Wait List</a>
       </div>
   </div>

<script>

</script>

</body>
</html>

Message Input

Message Stephen Blatt, Chinzo Boldmyagmar, Alex Perkinson, Adam