<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tables</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4 text-center">Hot Restaurant</h1>
      <p class="lead text-center">
        Current Reservations and Waiting List
      </p>
      <div class="text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Make a Reservation</a>
          
          <button class="btn btn-lg btn-default"><span class="fa fa-home"></span>
        </button>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script>
    $.ajax({
    url: '/api',
    method: 'GET'
  }).done(function(response) {
    console.log(response.reservations);
    if (response) {
      var tableSection = $('#tableSection');
      var waitlistSection = $('#waitlistSection');
      for (var i = 0; i < response.reservations.length; i++) {
        var tableDiv = $('<div>').addClass('well');
        var id = response.reservations[i].id;
        tableDiv.append($('<h2>').html("<span class='label label-primary'>1</span>|"));
        tableDiv.append($('<div>').append($('<h4>').text(id)));
        tableSection.append(tableDiv);
      }
      for (var i = 0; i < response.waitlist.length; i++) {
        var tableDiv = $('<div>').addClass('well');
        var id = response.waitlist[i].id;
        tableDiv.append($('<h2>').html("<span class='label label-primary'>1</span>|"));
        tableDiv.append($('<div>').append($('<h4>').text(id)));
        waitlistSection.append(tableDiv);
      }
    }
  });
    </script>
    
  </body>
</html>
